<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="img/favicon.png">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="div">
    <div id="sidebar">
    <p>kliknij, żeby zamknąć</p>
    <ul id="stat-list">
      
    </ul>
    </div>
    <div id="greetings">
       <% if (isAuthenticated) { %>
          <a id="bye" href="/logout">
          Witaj, <span id="nick"><%= user.username %></span>! Wyloguj się.
        <% } else { %>
            <a id="hello" href="/login">
        <% } %>
      </a>
    </div>
    <div id="wrapper">
   
      <div id="tables-list">

      </div>

      <div id="right-column">
        <span id="table-name"></span>
        <ul id="players-list">
        </ul>

        <div id="chat">
          <div id="chat-content">
          </div>
          <table id="chat-form">
            <tr>
              <td id="messagetd">
                <input id="message" type="text">
              </td>
              <td id="send">
                wyślij
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="content">
        <div id="left-content">
          <table id="scores">
            <tr>
              <th></th>
              <th>#1</th>
              <th>#2</th>
            </tr>
            <tr>
              <td>1</td>
              <td class="p1" id="p1-d1"></td>
              <td class="p2" id="p2-d1"></td>
            </tr>
            <tr>
              <td>2</td>
              <td class="p1" id="p1-d2"></td>
              <td class="p2" id="p2-d2"></td>
            </tr>
            <tr>
              <td>3</td>
              <td class="p1" id="p1-d3"></td>
              <td class="p2" id="p2-d3"></td>
            </tr>
            <tr>
              <td>4</td>
              <td class="p1" id="p1-d4"></td>
              <td class="p2" id="p2-d4"></td>
            </tr>
            <tr>
              <td>5</td>
              <td class="p1" id="p1-d5"></td>
              <td class="p2" id="p2-d5"></td>
            </tr>
            <tr>
              <td>6</td>
              <td class="p1" id="p1-d6"></td>
              <td class="p2" id="p2-d6"></td>
            </tr>
            <tr>
              <td>= (+)</td>
              <td id="p1-sum1">0</td>
              <td id="p2-sum1">0</td>
            </tr>
            <tr>
              <td>3x</td>
              <td class="p1" id="p1-x3"></td>
              <td class="p2" id="p2-x3"></td>
            </tr>
            <tr>
              <td>4x</td>
              <td class="p1" id="p1-x4"></td>
              <td class="p2" id="p2-x4"></td>
            </tr>
            <tr>
              <td>3x+2x</td>
              <td class="p1" id="p1-full"></td>
              <td class="p2" id="p2-full"></td>
            </tr>
            <tr>
              <td>mały strit</td>
              <td class="p1" id="p1-small"></td>
              <td class="p2" id="p2-small"></td>
            </tr>
            <tr>
              <td>duży strit</td>
              <td class="p1" id="p1-big"></td>
              <td class="p2" id="p2-big"></td>
            </tr>
            <tr>
              <td>generał</td>
              <td class="p1" id="p1-x5"></td>
              <td class="p2" id="p2-x5"></td>
            </tr>
            <tr>
              <td>szansa</td>
              <td class="p1" id="p1-chance"></td>
              <td class="p2" id="p2-chance"></td>
            </tr>
            <tr>
              <td>=</td>
              <td id="p1-sum2">0</td>
              <td id="p2-sum2">0</td>
            </tr>
          </table>
        </div>

        <div id="right-content">

          <table id="dices">
            <tr>
              <td><img src="#" alt="dice1" id="dice1" class="dice"></td>
              <td><img src="#" alt="dice2" id="dice2" class="dice"></td>
              <td><img src="#" alt="dice3" id="dice3" class="dice"></td>
              <td><img src="#" alt="dice4" id="dice4" class="dice"></td>
              <td><img src="#" alt="dice5" id="dice5" class="dice"></td>
            </tr>
            <tr>
              <td colspan="5"><img id="change" src="img/roll.png" alt="Przerzuć"></td>
            </tr>
          </table>

        </div>

        <div id="start">
          <span>START</span>
        </div>
        <div id="result">
          <span></span>
        </div>
      </div>

<%- include('_footer'); -%>