<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>Logowanie</title>
  <link rel="stylesheet" href="css/form.css">
</head>

<body>
  <form action="" method="POST">
    <table class="form">
      <tr>
        <td>
          <input type="text" name="username" id="username" placeholder="login"
            required>
        </td>
      </tr>
      <tr>
        <td>
          <input type="password" name="password" id="password" placeholder="hasło"
            required>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="zaloguj">
        </td>
      </tr>
      <tr>
        <td id="link">
          <a href="/register">załóż konto</a>
        </td>
      </tr>
    </table>
  </form>
  
</body>

</html>