<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>Rejestracja</title>
  <link rel="stylesheet" href="css/form.css">
</head>

<body>
  <form action="" method="POST">
    <table class="form">
      <tr>
        <td>
          <input type="text" name="username" id="username" placeholder="login"
            required>
        </td>
      </tr>
      <tr>
        <td>
          <input type="password" name="password1" id="password1"
            placeholder="hasło" required>
        </td>
      </tr>
      <tr>
        <td>
          <input type="password" id="password2" placeholder="powtórz hasło" r
            equired>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="zarejestruj">
        </td>
      </tr>
      <tr>
        <td>  
          <p id="info"></p>
        </td>
      </tr>
    </table>
  </form>  

  <script src="jquery.min.js"></script>
  <script src="/js/registerValidation.js"></script>
</body>

</html> 