// compress: true

@background: rgb(210, 210, 210);
@font: "Segoe UI";
@fontSize: 28px;
@inputFontSize: 20px;

.centerXY {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

body, html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: @background;
  font-family: @font;
  font-size: @fontSize;
}

form {
  height: 100%;
  position: relative;
  
  .form {
    .centerXY;
    text-align: center;
    
    input {
      font-size: @inputFontSize;
      width: 300px;
      height: 30px;
      
      &[type="submit"] {
        width: 120px;
      }
    }
    
    #link {
      height: 100px;
      a {
        margin-top: 100px;
        text-decoration: none;
        color: #ff6c00;
      }
    }
  }
}