// compress: true

//FIXME poprawić budowę stylu (mixins?)
@font: "Segoe UI";
@nickFont: "Consolas";
@fontSize: 20px;
@chatFontSize: 18px;

@greetingsBarColor: rgb(51, 51, 51);
@greetingsBarHeight: 64px;
@greetingsTextColor: white;
@greetingsTextSize: 34px;

@background: rgb(210, 210, 210);

@contentWidth: 80%;
@contentBackground: radial-gradient(ellipse at center, #38854f 0%, #308048 100%);

@leftContentWidth: 35%;
@rightContentWidth: 100% - @leftContentWidth;

@softWhite: #f2f2f2;

@scoresBackground: white;
@scoreCellWidth: 40px;
@scoresHorizontalBorder: 1px solid #b4b4b4;
@scoresVerticalBorder: 1px solid black;
@thickScoresBorder: 2px solid black;

@startBoxFontSize: 42px;
@startBoxFontColor: white;
@startBoxBackground: rgb(238, 49, 53);
@startBoxWidth: 300px;
@startBoxHeight: 150px;

.centerX {
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.centerXY {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.listElem(@bg, @color: black) {
  position: relative;
  background: @bg;
  width: 30%;
  height: 100px;
  margin: auto;
  margin-top: 2%;
  font-size: 32px;
  color: @color;
}

body, html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: @background;
}

body {
  font-family: @font;
  font-size: @fontSize;
  margin: 0;
  
  #back {
    position: fixed;
    margin: 8px;
  }
  
  #div {
    min-height: 100%;
    
    #sidebar {
      position: fixed;
      top: 0;
      left: -20%;
      width: 20%;
      height: 100%;
      z-index: 1;
      background-color: @background;
      
      p {
        text-align: center;
      }
      
      #info {
        text-align: center;
        font-size: 28px;
        width: 100%;
      }
      
      #stat-list {
        margin-top: 10%;
        list-style-type: none;
        
        li {
          &:first-child {
            font-size: 36px;
          }
        }
      }
    }
    
    #greetings {
      height: @greetingsBarHeight;
      background-color: @greetingsBarColor;
      display: block;
      padding: 10px;
      color: @greetingsTextColor;
      text-align: right;
      font-size: @greetingsTextSize;
      
      a {
        position: fixed;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        
        text-decoration: none;
        color: white;
      }
    }
    
    #wrapper {
      background-color: @background;
      width: 100%;
      position: absolute;
      top: @greetingsBarHeight;
      bottom: 0px;
    
      #content {
        opacity: 0;
        height: 100%;
        width: @contentWidth;
        float: left;
        background: @contentBackground;

        #left-content {
          height: 100%;
          width: @leftContentWidth;
          float: left;
          position: relative;

          #scores {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);


            background-color: @scoresBackground;
            border-collapse: collapse;
            border-style: hidden;

            th {
              padding: 10px 20px;
              border-left: @scoresVerticalBorder;
              border-bottom: @scoresHorizontalBorder;
            }

            tr {
              &:first-child {
                border-bottom: @thickScoresBorder;
              }
              &:nth-child(8) {
                border-top: @thickScoresBorder;
                border-bottom: @thickScoresBorder;
                font-weight: bold;
              }
              &:last-child {
                border-top: @thickScoresBorder;
                font-weight: bold;
              }
            }

            td {
              padding: 10px 40px;
              border-left: @scoresVerticalBorder;
              border-bottom: @scoresHorizontalBorder;
              text-align: center;

              &:first-child {
                padding: 10px 100px 10px 20px;
              }
              &:not(:first-child) {
                width: @scoreCellWidth;
              }
            }
          }
        }

        #right-content {
          height: 100%;
          width: @rightContentWidth;
          float: right;
          position: relative;

          #dices {
            position: absolute;
            top: 40%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
          }

          #change {
            position: absolute;
            left: 50%;
            margin-right: -50%;
            margin-top: 100px;
            transform: translate(-50%, 0);
          }
        }

        #start {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          background-color: @startBoxBackground;
          width: @startBoxWidth;
          height: @startBoxHeight;

          color: @startBoxFontColor;
          font-size: @startBoxFontSize;
          text-align: center;
          span {
            .centerXY;
          }
        }

        #result {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          width: 500px;
          height: 250px;

          color: @startBoxFontColor;
          font-size: @startBoxFontSize;
          text-align: center;

          span {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      #right-column {
        opacity: 0;
        background-color: @background;
        width: 100% - @contentWidth;
        float: right;
        height: 100%;
        
        #table-name {
          display: block;
          text-align: center;
          font-size: 42px;
          margin-top: 15px;
        }
        
        #players-list {
          font-family: @nickFont;
          display: block;
          text-align: center;
          padding-left: 0px;
          margin-top: 60px;
          font-size: 28px;
          list-style-type: none;
          cursor: pointer;
        }
        
        #chat {
          position: absolute;
          bottom: 5%;
          height: 40%;
          width: 100% - @contentWidth;
          
          #chat-content {
            .centerX;
            width: 90%;
            height: 88%;
            background-color: @softWhite;
            overflow:auto;
          }
          
          #chat-form {
            .centerX;
            width: 90%;
            height: 12%;
            
            #messagetd {
              height: 100%;
              width: 80%;
              
              #message {
                border: 0;
                height: 100%;
                width: 100%;
                background-color: @softWhite;
                font-size: @chatFontSize;
                font-family: @font;
              }
            }
            
            #send {
              height: 100%;
              width: 20%;
              text-align: center;
            }
          }
        }
      }
    }
    
    #tables-list {
      width: 100%;
      position: absolute;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
      
      #create-table {
        .listElem(#5761D2, white);
        
        span {
          .centerXY;
        }
      }
      
      .table {
        .listElem(white); 
        
        span {
          .centerXY;
        }
        
        &:last-child {
          margin-bottom: 2%;
        }
        
        &:hover {
          background-color: @greetingsBarColor;
          color: white;
        }
        
        &.disabled {
          span::after {
            content: " (pełny)";
          }
          &:hover {
          background-color: #880015;
          color: white;
          }
        }
      }
    }
  }
  
  #go-away {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}